


@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');


   body {
     background-color: rgb(115,176,165);
     text-align: left;
     color: black;
     padding: 4px;
     font-family: 'Noto Sans HK', sans-serif;
   }



.text {
  background-color: rgba(127, 100, 250, .8);
  color: white;
  width: 43%
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 4cm;
  font-weight: 600;
}


h1 {
  color: #FFFFFF
}

h2 {
  color: #FFFFFF
}

p::first-letter {
  font-family: fantasy;
}
