
   body {
     background-color: rgb(115,176,165);
     text-align: center;
     color: black;
     padding: 4px;
     font-family: fantasy;
   }



.text {
  background-color: rgba(127, 100, 250, .8);
  color: white;
  width: 43%
  font-family: 'Noto Sans HK', sans-serif;
}


h1 {
  color: #FFFFFF
}

h2 {
  color: #FFFFFF
}
