


@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');


   body {
     background-color: rgb(115,176,165);
     text-align: left;
     color: black;
     padding: 4px;
     font-family: 'Noto Sans HK', sans-serif;
   }



.text {
  background-color: rgba(127, 100, 50, .8);
  color: white;
  width: 43%
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 4cm;
  font-weight: 10;
}


h1 {
  color: #FFFFFF
}

h2 {
  color: rgb(100, 50, 20)
  font-size: 2cm;
}

p::first-letter {
  font-family: fantasy;
}

a {
  background-color: rgb(0, 0, 0);
  color: #FFFFFF;
  padding: 4px;
}

a:hover {
  font-style: italic;
}

a:visited {
  color: #999999
}

a:active {
  font-size: 5cm;
}
