
   body {
     background-color: rgb(115,136,165);
     text-align: center;
     font-family: fantasy;
   }
/* OH I see!  So this tactic only denotes a comment if I'm within CSS styling.  Gotcha   */

   img {
     width: 300px;
     float: left;
   }

.rect {
  background-color: rgb(207, 179, 50);
  width: 43%
}

h2 {
  color: #7BC17E
}
