
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

.text {
  background-color: rgba(177, 100, 50, .8);
  font-family: 'Noto Sans HK', sans-serif;

}

body {
  background-color: rgb(115,176,165);
  text-align: left;
  color: black;
  padding: 4px;
  font-family: 'Noto Sans HK', sans-serif;
}


   img {
     width: 1200px;
     float: center;
   }



h2 {
  color: black
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    width: 600px;
    height: 600px;
    background-color: grey;
}
.caption {
    display: block;
}
