
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');


td.description [
min-width: 250px;
max-width: 350px;
text-align: left;
padding: 4px;
margin: 0px;
]

body {
  background-image: url("./images/banner.jpg");
  background-repeat: repeat-x;
}



p {
  background-image: url("images/banner.jpg");
}




.text {
  background-color: rgba(177, 100, 50, .8);
  font-family: 'Noto Sans HK', sans-serif;

}


   img {
     width: 1200px;
     float: center;
   }



h2 {
  color: black
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    width: 600px;
    height: 600px;
    background-color: grey;
}
.caption {
    display: block;
}
