


   body {
     background-color: rgb(0,0,0);
     vertical-align: center;
     horizontal-align: center;
     text-align: center;
     font-family: fantasy;
   }









.horizontal-rectangle {
  width: 500px;
  height: 600px;
  padding: 0px;
  background-color: rgb(40,70,175);

  position: absolute;
  top: 275px;
  right: ;
  left: 500px;
  bottom: ;
  z-index: 1;
}

.green-rectangle {
  width: 400px;
  height: 500px;
  padding: 0px;
  background-color: rgb(40,170,50);

  position: absolute;
  top: 375px;
  right: ;
  left: 500px;
  bottom: ;
  z-index: 1;
}

.red-rectangle {
  width: 200px;
  height: 250px;
  padding: 0px;
  background-color: rgb(170,60,20);

  position: absolute;
  top: 625px;
  right: ;
  left: 500px;
  bottom: ;
  z-index: 1;
}
